<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="no-js no-svg">
  <div id="page" class="site bottom-spacer">

    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

    {{ partial "header.html" . }}

    <div id="content" class="site-content">
      <main id="main" class="site-main" role="main">
      {{ block "main" . }}
      {{ end }}
      </main>
    </div>

    {{ block "footer" . }}
      {{ partial "footer.html" . }}
    {{ end }}
  </div>
</body>
</html>
