<footer class="site-footer">

{{ if .Site.Params.showSubscribeWidget }}
  {{ partial "subscribe_widget" }}
{{ end }}

<div class="site-info container center-align medium header-font gray" role="contentinfo"><span class="site-copyright"><span class="copyright-year  " itemscope="" itemtype="http://schema.org/copyrightYear">© {{ now.Format "2006" }} </span><span class="copyright-text" itemscope="" itemtype="http://schema.org/copyrightHolder">{{ .Site.Params.author.name }} </span></span></div>
				
				
					<nav class="footer-navigation container" aria-label="Footer Menu">

						<div class="menu-footer-container">
              <ul id="menu-footer" class="footer-menu header-font medium gray list-reset">
                {{ range .Site.Params.footer_nav }}
                <li class="menu-item"><a href="{{ .link }}">{{ .title }}</a></li>
                {{ end }}
              </ul>
            </div>
					</nav>

				
			</footer>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
